<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="restaurant.Properties.Settings.NorthwindConnectionString"
            connectionString="Data Source=DESKTOP-4OHDBHH\SQLEXPRESS;Initial Catalog=Northwind;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="restaurant.Properties.Settings.restaurantConnectionString"
            connectionString="Data Source=DESKTOP-4OHDBHH\SQLEXPRESS;Initial Catalog=restaurant;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>